@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 0%; /* #000000 */

    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 0 0% 3.9%; /* #0A0A0A */

    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 0 0% 3.9%; /* #0A0A0A */

    --primary: 257 84% 51%; /* #5318eb */
    --primary-foreground: 0 0% 98%; /* #FAFAFA */

    --secondary: 266 92% 70%; /* #ab6ef9 */
    --secondary-foreground: 0 0% 9%; /* #171717 */

    --muted: 0 0% 96%; /* #F6F6F6 */
    --muted-foreground: 210 3% 37%; /* #5c5f61 */

    --accent: 0 0% 96%; /* #F6F6F6 */
    --accent-foreground: 0 0% 9%; /* #171717 */

    --destructive: 0 66% 48%; /* #CC2A2A */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */

    --border: 0 0% 89%; /* #E3E3E3 */
    --input: 252 20% 95%; /* #f0eff4 */

    --ring: 0 0% 3.9%; /* #0A0A0A */

    --chart-1: 8 81% 61%; /* #EA624C */
    --chart-2: 180 50% 37%; /* #2F8E8E */
    --chart-3: 210 30% 25%; /* #2B3F51 */
    --chart-4: 43 86% 58%; /* #F0BB38 */
    --chart-5: 28 84% 63%; /* #F09B51 */

    --radius: 0.5rem;
  }

  .dark {

    --background: 0 0% 3.9%; /* #0A0A0A */
    --foreground: 0 0% 98%; /* #FAFAFA */

    --card: 0 0% 3.9%; /* #0A0A0A */
    --card-foreground: 0 0% 98%; /* #FAFAFA */

    --popover: 0 0% 3.9%; /* #0A0A0A */
    --popover-foreground: 0 0% 98%; /* #FAFAFA */

    --primary: 0 0% 98%; /* #FAFAFA */
    --primary-foreground: 0 0% 9%; /* #171717 */

    --secondary: 0 0% 15%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #FAFAFA */

    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 0 0% 63%; /* #A1A1A1 */

    --accent: 0 0% 15%; /* #262626 */
    --accent-foreground: 0 0% 98%; /* #FAFAFA */

    --destructive: 0 66% 29%; /* #7A1A1A */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */

    --border: 0 0% 15%; /* #262626 */
    --input: 0 0% 15%; /* #262626 */

    --ring: 0 0% 86%; /* #DCDCDC */

    --chart-1: 220 70% 50%; /* #3366CC */
    --chart-2: 160 60% 45%; /* #26B38D */
    --chart-3: 30 80% 55%; /* #F59373 */
    --chart-4: 280 65% 60%; /* #BF73F5 */
    --chart-5: 340 75% 55%; /* #F573AB */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
